<mat-accordion>
  <mat-expansion-panel *ngFor="let s of shows">
    <mat-expansion-panel-header>
      <mat-panel-title class="header-spacer">
        {{ s.show.name }}
      </mat-panel-title>
      <mat-panel-description class="header-spacer">
        Premiered: {{ s.show.premiered}}
      </mat-panel-description>
      <mat-panel-description class="header-spacer">
        Status: {{ s.show.status}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <img src="{{s.show.image.medium}}" alt="Picture of a show">

    <span [innerHTML]="s.show.summary"></span>
    <mat-action-row>
      <button mat-raised-button color="warning" (click)="details(s.show.id)">Details</button>

    </mat-action-row>


  </mat-expansion-panel>
</mat-accordion>
